Package: com.videolan.vlc-ios.crossfade
Name: VLC Audio Crossfade
Version: 1.0.1
Architecture: iphoneos-arm64e
Description: Audio-only crossfade for VLC for iOS 3.7.3 (build 475).
Maintainer: Private
Author: Private
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
