Package: com.videolan.vlc-ios.crossfade.preferences
Name: VLC Audio Crossfade Preferences
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: Preference bundle for VLC Audio Crossfade.
Maintainer: Private
Author: Private
Section: Tweaks
Depends: preferenceloader
